.calculator {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#display {
    width: 90%;
    height: 40px;
    border: 1px solid #707070;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}
button {
    width: 70px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
}